body {
    margin: 0;
    font-family: Arial;
    display: flex;
    background: #0f172a;
    color: white;
}

.sidebar {
    width: 250px;
    background: #111827;
    padding: 20px;
    height: 100vh;
}

button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background: #1f2937;
    color: white;
    border: none;
}

.main {
    flex: 1;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 10px;
}
